root = true

[*.cs]
csharp_style_expression_bodied_methods = false:error
csharp_style_expression_bodied_constructors = false:error
csharp_style_expression_bodied_operators = false:error
csharp_style_expression_bodied_local_functions = false:error
